body{
    margin: 0;
}

/* Nav Bar */

nav{
    display: flex;
    background: linear-gradient(90deg, #b2bf43 1.18%, #7c8b30 100%);
    border: none;
    Justify-content: space-between;
    align-items: center;
    height: 100px;
}

.org-name{
    font-family: 'The Nautigal', cursive;
    font-size: 48px;
    color: white;
    padding-left: 20px;
}

.navbar--icon{
    height: 90px;
    padding-left: 50px;
}

nav > p{
    font-size: 28px;
    font-weight: 500;
    padding-left: 100px;
    color: white;
    letter-spacing: 0.03em;
}

nav > p > a{
    text-decoration: none;
    color: white;
}

.about{
    margin-left: auto;

}

.location{
    margin-right: 100px
}

/* Main */

main{
    display: flex;  
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}



.dance--image{
    height: 400px;
}


/* Footer */

footer{
    display: flex;  
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}
